<div class="container bootstrap snippet vw-100">
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="circle-tile ">
                <a href="#">
                    <div class="circle-tile-heading dark-blue"><i class="bi bi-people-fill fs-1"></i></div>
                </a>
                <div class="circle-tile-content dark-blue">
                    <div class="circle-tile-description text-faded"> Users</div>
                    <div class="circle-tile-number text-faded ">265</div>
                    <a class="circle-tile-footer" routerLink="total">More Info ></a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="circle-tile ">
                <a href="#">
                    <div class="circle-tile-heading red"><i class="bi bi-people-fill fs-1"></i></div>
                </a>
                <div class="circle-tile-content red">
                    <div class="circle-tile-description text-faded"> Users Online </div>
                    <div class="circle-tile-number text-faded ">10</div>
                    <a class="circle-tile-footer" routerLink="online">More Info ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>